<section id="directives-map">
  <div class="page-header">
    <h1>Contact</h1>
  </div>
  <div class="well">
    <div class="row">
      <!--
        Show information company on left position
      -->
      <div class="span3">
        <address>
          <strong>TechPropulsionLabs Company.</strong><br>
          316 Lê Văn Sỹ, Ward 1<br>
          Quận Tân Bình, Hồ Chí Minh, City<br>
          <abbr title="Phone">P:</abbr> (+84) 90 88 99 470
        </address>
         
        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">phuong.ngo@techpropulsionlabs.com</a>
        </address>
      </div>

      <!--
        Create map view: 
        - show map in tag id map_canvas
        - create marker on map_canvas throught tag ui-map-marker
        - div ui-map-info-window will show information of this marker when click on marker
      -->
      <div id="map_canvas" ui-map="model.myMap" class="span8 map"
        ui-event="{'map-click': 'addMarker($event)', 'map-idle' : 'onMapIdle()', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
        ui-options="mapOptions">
      </div>

      <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]" 
        ui-event="{'map-click': 'openMarkerInfo(marker)'}">
      </div>

      <div ui-map-info-window="model.myInfoWindow">
        <address>
          <strong>TechPropulsionLabs Company.</strong><br>
          316 Lê Văn Sỹ, Ward 1<br>
          District Tân Bình, Hồ Chí Minh, City<br>
          <abbr title="Phone">P:</abbr> (+84) 90 88 99 470
        </address>
      </div>      

      <!--
        Show form contact with site on right position
      -->
      <div class="span4a">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label1" for="inputName">Họ & Tên</label>
            <div class="controls1">
              <input name="name" ng-model="contact_detail.name" placeholder="Họ & Tên">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label1" for="inputEmail">Email</label>
            <div class="controls1">
              <input name="email" ng-model="contact_detail.email" placeholder="Email" 
                ui-validate='{blacklist:notBlackListed($value)}'>
            </div>
          </div>
          <div class="control-group">
            <label>Nội Dung</label>
            <div>
              <textarea name="content" ng-model="contact_detail.content" placeholder="Nội Dung"></textarea>
            </div>
          </div>
          <div class="control-group">
            <button type="button" class="btn btn-primary" id="sendBtn">Gởi</button>
          </div>
          </form>
        <div>
      </div>
    </div>
  </div>
</section>
