<div class="MainOauth" ng-controller="MainOptionsCtrl">
  <ul>
    <li class="dropdown">
      <a class="dropdown-toggle" id="account">
        Account
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in accountList">
          <a href="{{choice.url}}">{{choice.name}}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" id="language">
        Language
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in languageList">
          <a href="{{choice.url}}">
            <img src="{{choice.path}}">
            {{choice.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<hr class="hr_half">

<div class="mainHeader">
  <div class="logoContainer">
    <a href="#/">
      <div class="logo">
      </div>
    </a>
  </div>

  <div class="mainMenu" ng-controller="MainMenuCtrl">
    <ul class="nav nav-pills">
      <li ng-repeat="item in data.menus.main_menu" ng-class="navClass(item)">
        <a href="{{item.url}}">{{item.name}}</a>
      </li>
    </ul>
  </div>
</div>

<hr>

