<div class="MainOauth" ng-controller="MainOptionsCtrl">
  <ul>
    <li class="dropdown">
      <a class="dropdown-toggle" id="account">
        {{i18n('account')}}
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in accountList">
          <a href="{{choice.url}}">{{i18n(choice.name)}}</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" id="language">
        {{description(data.options.default.lang)}}
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in languageList">
          <a ng-click="Switch(choice)">
            <img src="{{choice.path}}" style="text-align: center;">
            {{description(choice.short)}}
          </a>
        </li>
      </ul>
    </li>
    <li>
      <input type="text" ng-model="search.filter" class="search-query" placeholder="Search" value={{search.filter}}>
    </li>
  </ul>
</div>

<hr class="hr_half">

<div class="mainHeader">
  <div class="logoContainer">
    <a href="#/?lang={{currentLanguage()}}">
      <div class="logo">
      </div>
    </a>
  </div>

  <div class="mainMenu" ng-controller="MainMenuCtrl">
    <ul class="nav nav-pills">
      <li ng-repeat="item in data.menus.main_menu" ng-class="navClass(item)">
        <a href="{{item.url}}?lang={{currentLanguage()}}">{{i18n(item.name)}}</a>
      </li>
    </ul>
  </div>
</div>

<hr>

