<section id="directives-map">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <div class="well">
    <div class="row">
      <div class="span3">
        <address>
          <strong>TechPropulsionLabs Company.</strong><br>
          316 Lê Văn Sỹ, Ward 1<br>
          District Tân Bình, Hồ Chí Minh, City<br>
          <abbr title="Phone">P:</abbr> (+84) 90 88 99 470
        </address>
         
        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">phuong.ngo@techpropulsionlabs.com</a>
        </address>
      </div>
      <div id="map_canvas" ui-map="myMap" class="span8 map"
        ui-event="{'map-click': 'addMarker($event)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
        ui-options="mapOptions">
      </div>
    </div>
  </div>
</section>
