<div class="mainContentCenter">
  <h1>Welcome Online ASK</h1>
  <hr>
  <div class="LRSpace">
    <p class="firstLine">
      <img src="assets/img/logo/my_logo.png">Với Online ASK, các bạn sẽ có được những khoảng khắc thư giản qua những bài hát, mẫu chuyện, những câu ranh ngôn, hoặc xa hơn các bạn có thể đăng ký 1 tài khoản với chúng tôi.
    </p>
    <p class="firstLine">
  Với tài khoản đó, bạn có thể sử dụng 1 vài công cụ có sẵn của chúng tôi như quản lý sách, kho, tạo các events thông qua công cụ Google, các công cụ KPI, SWOT,...  
    </p>
    <p class="firstLine">
  Với Online ASK, bạn có thể trãi nghiệm kiến thức mới qua các bài viết hướng dẫn, video hướng dẫnvới nhiều chuyên đề khác nhau:
  <ul>
  <li>
    Web
  </li>
  <li>
    Maya
  </li>
  <li>
    Android
  </li>
  <li>
    iOS
  </li>
  <li>
    Realflow
  </li>
  <li>
    Ẩm Thực
  </li>
  <li>
    ...
  </li>
  </ul>
    </p>
    <p class="firstLine">
  Các bài hướng dẫn này đều được chúng tôi thực hành qua và rút tỉa bớt sao cho đơn giản và dễ hiễu.
    </p>
    <p class="firstLine">
  Với mỗi bài hướng dẫn, chúng tôi cố gắng sẽ xây dựng theo hình thức thực hành qua hình ảnh.
    </p>
  </div>
</div>
