/* app css stylesheet */

body {
  padding-top: 5px;
}

.horizontal{
  border-bottom: 1px solid gray;
}

.nav-pills > li > a {
  font-size: 1.5em;
  color: #999999;
}

.mainHeader{
  /*background-color: gray;*/
  height: 90px;
}

.mainMenu{
  position: relative;
  top: -55px;
  left: 52%;
  /*float: left;*/
  /*padding-right: 10%;*/
  width: 450px;
}

.mainFooter{
  font-size: 1em;
  background-color: #333;
  width: 97.8%;
  height: 150px;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  top: -30px;
}

.mainFooter ul{
  list-style-type:none;
}

.mainFooter li{
  display: inline;
  margin-left: 10px;
  margin-right: 130px;
}

.mainFooter a{
  position: relative;
  top: 10px;
  text-decoration: none;
  color: white;
}

#mainControl{
  /*margin-left: 10px;*/
  padding-left: 1%;
  padding-right: 1%;
  /*height: 550px;*/
}

.MainOauth{
  position: relative;
  /*float: right;*/
  padding-left: 1%;
  margin-right: 70%;
  top: 5px;
  border:0px solid blue;
}

.MainOauth ul{
  list-style-type:none;
  margin:0;
} 

.MainOauth li{
  display:inline;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.MainOauth li a{
  text-decoration: none;
  color: #999999;
}

.map {
  height: 400px;
  width: 600px;
  /*border: 1px solid gray;*/
}

.row-fluid .span2{
  width: 20%;
}

.row-fluid .span10{
  width: 70%;
}

.hr_half{
  width: 40%;
}

.bottom{
  position: relative;
  top: -40px;
}

.copyright{
  position: relative;
  top: -55px;
  text-align: center;
  text-decoration: none;
}

.copyright a{
  text-decoration: none;
}

.logoContainer {
  /*border: 0px solid gray;*/
  width: 330px;
}

.logo{
  position: relative;
  left: 0px;
  border: 0px solid red;
  width: 330px;
  height: 80px;
  background-image: url("../img/logo/my_logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.loading{
  font-size: 30px;
  position:   fixed;
  z-index:    1000;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('../img/FhHRx.gif') 
              50% 50% 
              no-repeat;
}

.mainContentLeft{
  border: 1px solid gray;
  background-color: #B1B3B2;
  width: 25%;
}

.mainContentRight{
  border: 1px solid gray;
  background-color: #B1B3B2;
  width: 25%;
}

.mainContentCenter{
  border: 1px solid gray;
  background-color: #A8ABA4;
  /*background-color: #8FA7B8;*/
  width: 50%;
  position: relative;
  margin-left: 25%;
  top: -15px;
}

.mainContentCenter h1{
  position: relative;
  top: 8px;
  text-align: left;
  text-indent: 10px;
}

.firstLine{
  text-indent: 15px;
}

.LRSpace{
  margin-left: 5px;
  margin-right: 5px;
}